# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# Dependencies
/node_modules
/.pnp
.pnp.js
yarn-error.log
package-lock.json
yarn.lock

# Testing
/coverage

# Next.js
/.next/
/out/

# Production
/build

# Misc
.DS_Store
*.pem
*.log

# Local Environment Variables
.env*.local
.env

# TypeScript
*.tsbuildinfo
next-env.d.ts

# IDE files
.vscode/
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.sublime-workspace

# Firebase (if used)
# .firebase/
# firebase-debug.log
# database-debug.log

# IDX specific
.idx/
